form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
  }
  
  button {
    padding: 10px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }

.h2{
  color: #fff;
}
  