/* Styling for Education Section */
.education-section {
    padding: 60px 0;
    padding-top: 100px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .education-item {
    background-color: #000;
    margin-top: 0px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  .education-item:hover {
    transform: translateY(-10px);
  }
  
  .education-degree {
    background-color: #000;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
  }
  
  .education-institution {
    background-color: #000;
    font-size: 16px;
    padding: 10px;
    margin: 0px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .section-title {
      font-size: 28px;
    }
  
    .education-degree {
      font-size: 20px;
    }
  
    .education-institution {
      font-size: 14px;
    }
  }
  