/* Global rule to ensure correct box-sizing for all elements */
* {
    box-sizing: border-box;
    background-color: #060522;
  }

  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #fff;
    margin: 10px auto 0;
    border-radius: 5px;
  }