* {
    box-sizing: border-box;
    background-color: #060522;
  }

button, a {
  -webkit-tap-highlight-color: transparent;
}

button:focus, button:active {
  background-color: transparent !important;
  outline: none;
  box-shadow: none;
}

  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 0; 
    height: 3px;
    background-color: #fff;
    margin: 10px auto 0;
    border-radius: 5px;
    transition: width 0.5s ease-in-out; 
  }
  
  .section-title:hover::after {
    width: 70px; 
  }
  
  