/* Global rule to ensure correct box-sizing for all elements */
* {
    box-sizing: border-box;
    background-color: #060522;
  }

  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
  }
  
  .section-title::after {
    content: "";
    display: block;
    width: 0; /* Start with zero width */
    height: 3px;
    background-color: #fff;
    margin: 10px auto 0;
    border-radius: 5px;
    transition: width 0.5s ease-in-out; /* Smooth growing animation */
  }
  
  /* Trigger the animation on hover or when visible */
  .section-title:hover::after {
    width: 70px; /* Full width */
  }
  
  