/* home section container */
.home-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  height: 100vh; /* Full viewport height */
  padding-top: 100px; /* Create gap from the fixed header */
  padding-left: 50px; /* Adjust padding to shift content from left */
  padding-right: 50px; /* Padding on the right */
  gap: 20px; /* Increased space between image and text */
  position: relative;
}

/* Image container */
.home-image-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Move image to the far left */
  align-items: center;     /* Vertically center the image */
  position: relative;
}

/* Style for the image with spotlight effect */
.home-image {
  width: 50%;
  max-width: 350px; /* Maximum width for responsiveness */
  height: auto;
  border-radius: 60px;
  background: transparent;
  position: relative;
  margin-left: 40px;
  z-index: 1;
  animation: imageGlow 5s infinite alternate; 
  /* box-shadow: 0px 0px 80px 20px rgba(0, 0, 0, 0.7); Spotlight effect */
}

/* Description container */
.home-description {
  flex: 2; /* Make the description take more space */
  color: #fff; /* White text */
  font-family: 'Arial', sans-serif;
  z-index: 1; /* Ensure it appears over the background effects */ 
  padding-right: 40px;
}

.home-description h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff; /* Accent color for heading */
}

.home-description h1{
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff; /* Accent color for heading */
}

.home-description p {
  font-size: 18px;
  line-height: 1.6;
  color: #ccc; /* Slightly lighter color for the description */
  text-align: justify;
}

/* Add responsiveness for smaller screens */
@media (max-width: 1520px) {
  .home-container {
    flex-direction: row;
    height: 100vh; /* Adjust height */
    padding-top: 120px; /* Reduce padding for smaller screens */
    gap: 60px;
    align-items: center;
  }

  .home-image-container{
    justify-content: center;
  }

  .home-image {
    max-width: 300px; /* Smaller image on mobile */
    max-width: 300px;
    margin-left: 0px;
  }
  

  .home-description h2 {
    font-size: 28px;
  }

  .home-description h1 {
    font-size: 32px;
  }
  
  .home-description p {
    font-size: 16px;
  }
}
