/* Styling for Projects Section */
.projects-section {
    padding: 60px 0;
    padding-top: 100px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .projects-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(px, 1fr)); */
    gap: 40px;
  }
  
  .project-card {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
  }
  
  .project-name {
    background-color: #000;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0%;
  }
  
  .project-description {
    background-color: #000;
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    text-align: left;
    margin-top: 0%;
    padding-top: 10px;
  }
  
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  
    .section-title {
      font-size: 28px;
      color: #fff;
    }
  }
  