  /* Styling for Projects Section */
.projects-section {
  padding: 60px 0;
  padding-top: 100px;
}

.projects-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.categories {
  margin-bottom: 20px;
}

.category-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button.active,
.category-button:hover {
  background-color: #555;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.project-card {
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #000;
}

.project-name {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  background-color: #000;
}

.project-description {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  background-color: #000;
}

.project-links {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.project-link {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #45a049;
}
  
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  
    .section-title {
      font-size: 28px;
    }
  
    .project-name {
      font-size: 20px;
    }
  
    .project-description {
      font-size: 14px;
    }
  }
  