/* Skills Section Styling */
.skills-section {
  padding: 60px 0;
  padding-top: 100px;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  /* background-color: #1e1e1e; */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: white;
}

.skill-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-level {
  font-size: 16px;
  color: #007bff;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .section-title {
    font-size: 28px;
  }

  .skill-card {
    width: 120px;
  }

  .skill-icon {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 16px;
  }

  .skill-level {
    font-size: 14px;
  }
}
